<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <p>Опубликованные посты:</p>

        <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <p><i>{{ post.published_date }}</i></p>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>